.sidenav {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 50px;
  padding: 150px 10px;
  text-decoration: none;
  color: #818181;
  display: block;
}

.sidebuttons {
  width: 100%;
  padding: 25px 0px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
  background-color: #00c2f5;
  transition-duration: 0.5s;
  border: none;
  border-radius: 8px;
  font-family: 'Nova Mono', monospace;
}

.sidebuttons:hover {
  transition-duration: 0.5s;
  background-color: #01de38;
}

.sideoptionbtn {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  font-size: 20pt;
  border-radius: 10px;
  background-color: #626262;
}

.sideoptionbtn:hover {
  background-color: #454444;
}

.main {
  margin-left: 230px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}
