body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.8;
  line-height: 1.618em;
  font-family: 'Nunito', sans-serif;
  background-color: #717373;
}

select {
  border: none;
  background-color: #4768dd;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #585858;
  color: white;
  text-align: center;
  margin-left: 220px;
}

.version {
  text-align: center;
  margin-top: 20px;
}

/* For the dropdowns - copied and modified from w3schools.com */
.dropbtn {
  background-color: #808580;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.more-dropbtn {
  padding: 16px;
  font-size: 16px;
  font-family: sans-serif;
  border: none;
  cursor: pointer;
  font-size: 17pt;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #999999;
  color: black;
}

#soundSearch {
  box-sizing: border-box;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#soundSearch:focus {
  outline: 3px solid #ddd;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-top: 10px;
  margin-bottom: 20px;
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  width: 230px;
  max-height: 280px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  border-radius: 10px;
}

.more-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  width: 180px;
  max-height: 280px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content button, .more-dropdown-content button, #google-translate-element {
  width: 100%;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
}

.dropdown button:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* Now for other things */
.error-alert {
  display: none;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  margin-top: -50px;
  margin-left: -100px;
  border-radius: 20px;
  background-color: #ff2f2f;
}

.error-dismiss-button {
  width: 100px;
  height: 25px;
  border-radius: 8px;
  background-color: #4b91b4;
  border: none;
  transition-duration: 0.6s;
}

.error-dismiss-button:hover {
  border-radius: 0px;
  background-color: #2a81ad;
}

.heading-icon {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  margin-left: 250px;
  float: left;
}

#heading {
  height: 30px;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  text-align: center;
  background-color: #dddddd;
  padding: 15px;
  margin-top: 10px;
  animation: animateheading 3s 1;
}

@keyframes animateheading {
  from {
    width: 0px;
  }

  to {
    width: 100%;
  }
}

.inputform {
  width: 350px;
  border-bottom: 2px solid #05be7b;
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: 14px;
  background-color: white;
  background-position: 10px 10px;
  padding: 10px 20px 10px 20px;
}

.inputcontainer {
  margin: 0 left;
  width: 500px;
  padding: 25px;
  position: relative;
  background-color: #9c9c9c;
  border-radius: 15px;
  margin-bottom: 50px;
}

.instructioncontainer {
  text-align: center;
  padding: 18px;
  position: relative;
  background-color: #b9b9b9;
  border-radius: 12px;
}

.inputheading {
  text-align: center;
  background-color: #7c7a7a;
  padding: 10px;
  border-radius: 10px;
}

.gobutton {
  width: 100%;
  height: auto;
  border-radius: 15px;
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  color: black;
  background-color: #35c43b;
  transition-duration: 0.8s;
}

.gobutton:hover {
  background-color: #49ff52;
}

.small-heading {
  font-family: sans-serif;
  font-size: 18px;
}

.resultcontainer {
  width: 300px;
  margin: 0 left;
  text-align: center;
  display: none;
  border-style: solid;
  border: 5px solid #00be00;
  border-radius: 15px;
  padding: 30px 0px 30px 100px;
  background-color: #cfffcf;
  overflow: hidden;
}

#resultcontainer-2 {
  width: 600px;
  padding: 30px;
  text-align: left;
  margin-left: 0px;
  margin-top: 20px;
}

#resultcontainer-2 div {}

#resultcontainer-1 div {
  float: left;
  width: 50%;
}

@media (min-width: 1150px) {
  .inputcontainer {
    float: left;
  }

  .resultcontainer {
    margin-left: 30px;
    float: left;
  }
}
