.custombox {
  width: calc(100% - 50px);
  height: 120px;
  padding: 20px;
  background-color: #688edf;
  border: 5px solid #485d7a;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custombox:focus {
  background-color: #76a3e0;
  border-color: #6f87a8;
}


.custombutton {
  width: 50px;
  height: 70px;
  padding: 5px;
  background-color: #688edf;
  border: 5px solid #485d7a;
  border-radius: 5px;
  float: left;
  margin-right: 10px;
  transition-duration: 0.5s;
}

.custombutton:hover {
  background-color: #3c5da3;
  border: 5px solid #1c324f;
}

.customaction {
  background-color: #3ba4e7;
  border: 5px solid #0074b5;
}

.customaction:hover {
  background-color: #0f81b9;
}

.custombutton-text {
  color: white;
  text-align: center;
  font-size: 10pt;
  padding-top: 10px;
}

.custombutton-image {
  margin: 0px 10px;
}

.results {
  width: 200px;
  background-color: #9abfff;
  border: 5px solid #6cccaf;
  padding: 10px 20px;
  margin: 22px 2px;
  border-radius: 5px;
  font-size: 14px;
  display: none;
}

.resultitem {
  margin-bottom: -20px; /* to remove the extra line break */
  cursor: pointer;
  transition-duration: 0.5s;
}

.resultitem:hover {
  background-color: #70a5ff;
}

#selectcountbox {
  background-color: #284373;
  color: white;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 15px;
}

.select-option {
  font-size: 16px;
  margin: 2px 3px;
  transition-duration: 0.5s;
}

.clear-btn:hover {
  color: red;
}

.add-btn:hover {
  color: #adf;
}

.tempclipremove-btn {
  color: #444;
  margin-top: 5px;
  font-size: 16px;
  float: right;
  cursor: pointer;
}

.tempclipremove-btn:hover {
  color: #555;
}

#tempclip {
  position: absolute;
  width: 300px;
  max-height: 315px;
  overflow-y: auto;
  z-index: 99;
  background-color: #f1f1f1;
  border: 2px solid #176eb3;
}

#tempclipheader {
  padding: 10px;
  width: 280px;
  cursor: move;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  background-color: #176eb3;
  color: #fff;
}

.tempclipitem {
  margin: 0px 10px 5px 10px;
  font-size: 14px;
}

.tempclipicons {
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.tempclipicons:hover {
  color: #eee;
}

@media (min-width: 1150px) {
  .results {
    margin-left: 30px;
  }

  .main {
    display: flex;
    flex: 1;
  }
}
